#g1{

    width: 300px;
    height: 150px;
    background-color: #ffcccc ;
    padding: 20px;

}
#g2{

    width: 50%;
    height: 100px;
    background-color: #ccffcc;
    padding: 20px;
    margin-left: 350px;


}
body{
    color: #333333;
    background-color: #f0f4f8;


}
#g3{
    padding: 20px;

    width: 40vw;
    height: 20vh;
    background-color: #40bbdd;


}
#ff1{

 color: #d9534f ;

    text-decoration: underline;



}

#ff2{

    color: #f0ad4e ;
    text-decoration: overline;

}